<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands</title>
    <link rel="stylesheet" href="resources/style/style.css">
    <link rel="icon" type="image/jpg" href="resources/icons/icon.png">
</head>

<body>
    <table style="width:80%">
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Usage</th>
            <% if (admin) { %>
                <th>Admin</th>
                <% } %>
            <th>Alias(es)</th>
        </tr>
        <% commands.forEach(function(command){ %>
            <%- include('command', {command}); %>
                <% }); %>
    </table>
</body>

</html>