<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="resources/style/style.css">
    <link rel="icon" type="image/jpg" href="resources/icons/icon.png">
    <style>
        p {
            color: white;
        }
    </style>
</head>

<body>
    <p>
        Guilds: <%= stats.guilds %>
    </p>
    <p>
        Channels: <%= stats.channels %>
    </p>
    <p>
        Users: <%= stats.users %>
    </p>
    <p>
        Uptime: <%= stats.uptime %>
    </p>
</body>

</html>